/* lear */
/* San */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Colors */
/* Button Mixin */
body {
  background-color: #f8f9fa;
  color: #16161a;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.dark-body {
  background-color: #16161a;
  color: #f8f9fa;
}

.blurred {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

/* Global Styles */
.flex-row {
  display: flex;
  gap: 1.5rem;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5em;
}

.btn {
  color: #f8f9fa;
  border: 1px solid #f8f9fa;
  background-color: transparent;
  padding: 1rem;
  font-size: 0.9rem;
  width: 160px;
  text-align: center;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  text-decoration: none;
}
.btn:hover {
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  color: #16161a;
}

.sub-heading {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 6rem;
}

.desc-text {
  color: #7a7a7a;
  margin: 0.5rem 0 2.5rem;
}

.text {
  color: #7a7a7a;
  line-height: 1.5rem;
}

.big-text {
  font-size: 1.3rem;
  font-weight: normal;
}

/* Back To Top Button */
.back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: #f8f9fa;
  background-color: #f66666;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

/* Header */
#header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/background.jpg);
  background-size: cover;
  background-position: center;
  /* Navigation */
  /* Content */
}
#header .nav-bar {
  position: fixed;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5%;
  z-index: 999;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#header .nav-bar .logo {
  width: 160px;
  display: block;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#header .nav-bar .hide-links-btn,
#header .nav-bar .show-links-btn {
  display: none;
  font-size: 1.2rem;
  color: #f8f9fa;
  cursor: pointer;
}
#header .nav-bar .nav-links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3em;
}
#header .nav-bar .nav-links li {
  display: inline-block;
}
#header .nav-bar .nav-links li::after {
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: #f8f9fa;
  display: block;
  margin: auto;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#header .nav-bar .nav-links li:hover::after {
  width: 100%;
}
#header .nav-bar .nav-links li a {
  text-decoration: none;
  color: #f8f9fa;
}
#header .nav-bar .nav-links .switch-btn {
  width: 68px;
  height: 34px;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 0 0.5rem;
  cursor: pointer;
  text-align: left;
}
#header .nav-bar .nav-links .switch-btn .fa {
  font-size: 1.4rem;
  display: block;
  color: #f66666;
}
#header .content {
  display: grid;
  align-content: center;
  height: 100%;
  color: #f8f9fa;
  grid-gap: 2.5rem;
  padding: 0 5%;
}
#header .content .title {
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 1px;
}
#header .content .sub-title {
  line-height: 1.5rem;
}

/* Offers */
#offers {
  max-width: 80%;
  margin: 1rem auto;
  text-align: center;
}
#offers .hidden-offer {
  display: none;
}
#offers .grid-row > div {
  padding: 1.5rem;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0 1rem #b9b9b9;
}
#offers .grid-row > div::after {
  content: '"';
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 3rem;
  color: #7a7a7a;
}
#offers .grid-row > div .big-text {
  margin-bottom: 0.5rem;
  color: #16161a;
}
#offers .offer-btn {
  color: #7a7a7a;
  border: 1px solid #7a7a7a;
  background-color: transparent;
  padding: 1rem;
  font-size: 0.9rem;
  width: 160px;
  text-align: center;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  margin: 2rem 0;
  cursor: pointer;
}
#offers .offer-btn:hover {
  background-color: #f66666;
  border-color: #f66666;
  color: #f8f9fa;
}

/* Banner */
.banner {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/banner.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  gap: 1rem;
  margin: 2rem 0;
}
.banner .big-text {
  font-size: 2rem;
  color: #f8f9fa !important;
}

/* Trips */
#trips {
  max-width: 80%;
  margin: 1rem auto;
  text-align: center;
}
#trips .flex-row > div {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
#trips .flex-row > div img {
  width: 100%;
  display: block;
}
#trips .flex-row > div .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#trips .flex-row > div .layer:hover {
  background-color: rgba(246, 102, 102, 0.6666666667);
}
#trips .flex-row > div .layer:hover .big-text {
  opacity: 1;
  bottom: 46%;
}
#trips .flex-row > div .layer .big-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  opacity: 0;
  color: #f8f9fa !important;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

/* Testimonials */
#testimonials {
  text-align: center;
  overflow: hidden;
  /* Container */
  /* Slider */
}
#testimonials .container {
  display: flex;
  justify-content: space-between;
  width: 300vw;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#testimonials .container .item {
  width: min(650px, 80vw);
  background-color: #fff;
  box-shadow: 0 0 1rem #b9b9b9;
  margin: 0 auto;
  position: relative;
  padding: 1.5rem;
}
#testimonials .container .item::after {
  content: ",,";
  font-size: 3rem;
  color: #7a7a7a;
  position: absolute;
  top: 0;
  right: 5%;
}
#testimonials .container .item img {
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#testimonials .container .item .big-text {
  margin: 0.5rem 0 0.3rem;
  color: #16161a;
}
#testimonials .container .item .user-ratings {
  color: #f66666;
  margin-bottom: 0.5rem;
}
#testimonials .slider {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 0.5rem;
}
#testimonials .slider .slider-btn {
  width: 15px;
  height: 15px;
  background-color: #f66666;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  cursor: pointer;
}
#testimonials .slider .active {
  width: 45px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* Contact */
#contact {
  max-width: 80%;
  margin: 1rem auto;
  text-align: center;
}
#contact .location {
  width: 100%;
  height: 60vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: url(images/location.jpg);
  background-size: cover;
  background-position: center;
}
#contact .flex-row {
  margin: 5rem 0;
}
#contact .flex-row .contact-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 2.5rem;
  width: 100%;
}
#contact .flex-row .contact-text .big-text {
  margin-bottom: 0.5rem;
}
#contact .flex-row .contact-text .big-text .fa {
  color: #f66666;
}
#contact .flex-row .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}
#contact .flex-row .form input,
#contact .flex-row .form textarea {
  padding: 1rem;
  outline: none;
}
#contact .flex-row .form .form-btn {
  color: #16161a;
  border: 1px solid #16161a;
  background-color: transparent;
  padding: 1rem;
  font-size: 0.9rem;
  width: 160px;
  text-align: center;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  cursor: pointer;
  margin: auto;
}
#contact .flex-row .form .form-btn:hover {
  background-color: #f66666;
  border-color: #f66666;
  color: #f8f9fa;
}

/* Footer */
.footer {
  max-width: 80%;
  margin: 2rem auto;
  text-align: center;
}
.footer .big-text {
  margin: 1rem 0 0.3rem;
}
.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 2.5rem 0;
}
.footer .social-icons img {
  width: 50px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  cursor: pointer;
}
.footer .social-icons img:hover {
  transform: translateY(-20%) scale(1.2);
  -webkit-transform: translateY(-20%) scale(1.2);
  -moz-transform: translateY(-20%) scale(1.2);
  -ms-transform: translateY(-20%) scale(1.2);
  -o-transform: translateY(-20%) scale(1.2);
}
.footer .made .fa {
  color: red;
}

/* For Mobile Version */
@media screen and (max-width: 768px) {
  .content {
    text-align: center;
  }
  .content .title {
    font-size: 3rem !important;
  }
  /* Flex Row */
  .flex-row {
    flex-direction: column;
    align-items: center;
  }
  .flex-row > div:not(.contact-text) {
    max-width: 400px;
    margin: auto;
  }
  /* Grid Row */
  .grid-row {
    grid-template-columns: 1fr !important;
  }
  .grid-row > div {
    max-width: 400px;
    margin: auto;
  }
  .sub-heading,
.banner .big-text {
    font-size: 1.8rem;
  }
  .logo {
    width: 140px !important;
  }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 160px;
    top: 0;
    right: -160px;
    flex-direction: column;
    align-items: flex-start !important;
    padding: 1rem;
    background-color: #f66666;
    gap: 1.5rem !important;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
  }
  .hide-links-btn,
.show-links-btn {
    display: block !important;
  }
}/*# sourceMappingURL=style.css.map */